/* Page */
body {
    margin: 0;
    padding: 0px;
    font-family: Arial, sans-serif;
    background: #1b1b1b;
}

/* Card Grid */
.card-container {
    display: grid;
    width: 90%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    position: relative;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}

/* Card */
.card {
    background: #2a2a2a;
    max-width: 100%;
    color: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card h3 {
    margin-top: 0;
    color: #4e9f3d;
}

.card p {
    color: #c5c6c7;
    line-height: 1.6;
}

.card:hover {
    background: #3a3a3a;
    transform: translateY(-2px);
}